@import './base.css';


body {
    font-family: var(--main_color);
    background-color: #eee;
}

.header {
    background-color: #fff;
    padding: 20px 0;
    font-family: var(--main_Font);
}

.header .Logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header .Logo img {
    width: 35px;
}

.header .Logo a {
    color: var(--main_color);

}

.header .List ul li a {
    color: black;
}

.active {
    font-weight: 900;
}

.header .auth a {
    padding: 10px 40px;


}

.login {
    border: 2px solid var(--main_color);
    color: var(--main_color);
    border-radius: 10px;
}

.register {
    border: 2px solid #fff;
    color: #fff;
    background-color: #545BE8;
    border-radius: 10px;
}

.auth i {
    display: none;
}

.Footer {
    background-color: #393E46;
    color: #FFFFFF;
    padding: 50px 0;
}

.End-item nav a {
    color: #FFFFFF;
}

.Footer .Logo a {
    color: #FFFFFF;
}

.Start {
    width: calc((100% - 20px) /2);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;


}

.Start .logo {
    display: flex;
    align-items: center;
    gap: 8px;

}


.Start .logo img {
    width: 35px;
}



.Start .logo a {
    color: #fff;
}

.Start .icons {
    display: flex;
    gap: 10px;
    margin-top: 14px;
}

.Start .icons i {
    border: 1px solid #fff;
    color: #fff;
    padding: 10px;

    width: 15px;
    height: 15px;
}

.End {
    width: calc((100% - 20px) /2);
    display: flex;

    justify-content: space-evenly;
    gap: 80px;


}

.End .End-item {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.End nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Testimonials {
    padding: 50px 0;
    background-color: #fff;
}

.Testimonials .row {
    justify-content: center;
    gap: 15px;

}

.Testimonials .container {
    text-align: center;
}

.Testimonials .Heading {
    padding-bottom: 20px;
    font-family: var(--main_Font);

}



.Testimonial {
    text-align: left;
    box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    width: calc((100% - 40px) /2);

}

.Testimonial .user {
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: var(--main_Font);
    flex-wrap: wrap;
}

.Testimonial .user .user_data {
    display: flex;
    flex-direction: column;
    gap: 7px;

}


.Testimonial .user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Testimonial .Stars {
    display: flex;
    gap: 5px;
    padding: 16px;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.Testimonial .Stars img {
    width: 30px;
    height: 22px;
}

.Testimonial p {
    font-family: var(--main_Font);
    color: #646464;
}

/*-----------------------*/
.register_ {
    padding: 50px 0;
    align-items: center;
    background-color: #fff;


}

.register_ .publicity {
    display: flex;
    flex-direction: column;
    font-family: var(--Sub_Font);
    gap: 22px;
    width: calc((100% - 40px) / 2);
}

.register_ .publicity .begin {
    color: var(--main_color);
    text-align: left;
    font-weight: 400;
    font-size: 20px;

}



.register_ .publicity .begin div:nth-child(2) {
    font-weight: bold;
}

.register_ .publicity .finding_course {
    font-family: var(--Sub_Font);
    color: #000;
    text-align: left;
    font-weight: 700;
    font-size: 70px;
}

.register_ .publicity .lorem_paragh {
    font-weight: 400;
    font-size: 25px;
    text-align: left;
    font-family: var(--Sub_Font);
    color: #646464a6
}

.register_ .publicity .register_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    padding-top: 30px;

}

.register_ .publicity .register_btn .register_button {
    padding: 20px 55px;
    border-radius: 10px;
    background-color: var(--main_color);


}

.register_ .publicity .register_btn .register_button a {
    color: #fff;
    font-weight: bold;
    font-family: var(--Sub_Font);
    font-size: 20px;

}

.register_ .publicity .register_btn .play_video {
    padding: 20px 55px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}

.register_ .publicity .register_btn .play_video a {
    color: rgb(10, 10, 10);
    font-weight: bold;
    font-family: var(--Sub_Font);
    font-size: 20px;
}

.register_ .publicity .register_btn .play_video img {
    width: 40px;
    height: 40px;
}

.register_ .picture {
    width: calc((100% - 40px) / 2);
    text-align: left;
}

.register_ .picture img {
    width: 85%;
    height: 85%;
}

/*------------------*/
.result {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result .cards {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 40px;
}

.result .cards .what_we_do {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.result .cards .what_we_do .blue_header {
    font-weight: 400;
    font-size: 20px;
    font-family: var(--Sub_Font);
    color: var(--main_color);
    text-align: left;
}

.result .cards .what_we_do .big_header {
    text-align: left;
    font-weight: bold;
    font-size: 55px;
    font-family: var(--Sub_Font);

}

.result .cards .what_we_do .paragh_w_3line {

    font-family: var(--main_Font);
    color: #837f7f;
    text-align: left;
    font-size: 18px;

}

.result .cards .card {
    font-family: var(--Sub_Font);
    border-radius: 9.118597984313965px;
    text-align: left;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: calc((100% - 500px) / 3);
    box-sizing: border-box;
    padding: 40px 15px;
    background-color: var(--main_color);
}

.result .cards .card .card_icon {
    background-color: #fff;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    text-align: center;
}

.result .cards .card .card_icon img {
    width: 40px;
    height: 40px;

}

.result .cards .card .card_header {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    font-family: var(--Sub_Font);
}

.result .cards .card .card_para {
    text-align: left;
    font-weight: 200;
    font-size: 15px;
    font-family: var(--main_Font)
}

.result .navigation {

    box-sizing: border-box;
    padding-right: 180px;
    display: flex;
    justify-content: flex-end;
    gap: 18px;
}

.result .navigation img {
    width: 50px;
    height: 50px;
}

/*--------------------------*/
.Selected_course_Wrapper {
    padding: 50px 0;
    align-items: center;
    text-align: center;
    background-color: var(--main_color);
}

.selected_course {
    width: calc((100% - 40px) / 2);
}

.selected_course.image img {
    width: 85%;
    height: 85%;
}

.selected_course.details {
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
}

.selected_course.details .selected_course_yellow {
    color: #F0C932;
    text-align: left;
    font-weight: 300;
    font-size: 27px;
    font-family: var(--Sub_Font);
}

.selected_course.details .selected_course_big {
    font-weight: 700;
    font-size: 55px;
    font-family: var(--main_Font);
    color: #FFFFFF;
    text-align: left;
}

.selected_course.details .selected_course_paragh {
    font-weight: 300;
    font-size: 24px;
    font-family: var(--main_Font);
    text-align: left;
    color: #FFFFFF;

}

.statistics_wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 150px;
    padding: 30px 0;
    align-items: center;


}

.statistics_wrapper .statistics {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.statistics_wrapper .statistics .num {
    color: #F0C932;
    font-weight: 500;
    font-size: 32px;
    font-family: var(--Sub_Font);
}

.statistics_wrapper .statistics .for_what_thenum {
    font-weight: 300;
    font-size: 30px;
    font-family: var(--Sub_Font);
    color: #fff;

}

/*---------------------------*/
.Courses_section {
    padding: 50px 0;
    background-color: #FFFFFF;
}

.Courses_section .row {

    gap: 40px;
    align-items: flex-start;

}

.courses_item,
.courses_details {
    width: calc((100% - 40px) / 2);

}

.Courses_section .courses_item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    padding: 15px;


}

.Courses_section .courses_item .course {
    width: calc((100% - 20px) / 2);
    box-shadow: 0px 10.437575340270996px 10.437575340270996px rgba(0, 0, 0, 0.05);
    padding-bottom: 10px;
}

.Courses_section .courses_item .course .course_card {
    position: relative;
}

.Courses_section .courses_item .course img {
    width: 100%;
    display: flex;

}

.Courses_section .courses_item .course .course_info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    align-items: flex-start;
}

.course .course_info span:last-of-type {
    align-self: flex-end;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    padding-right: 20px;
}

.course .course_info span:first-of-type {
    background-color: var(--main_color);
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;


}

.course .course_des {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.course .course_des .course_name {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .course_des .course_name span:last-of-type {
    font-family: var(--main_Font);
    font-size: 13px;
    color: var(--main_color);
}

.course .course_des .course_name span:first-of-type {
    font-family: var(--main_Font);
    font-weight: 700;
    font-size: 20px;
}

.course .course_des .course_teacher {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    font-weight: 400;
    font-family: var(--main_Font);
    font-size: 15px;
    color: #969696;
}

.courses_details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 20px;


}

.courses_details .available_for_u {
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    font-family: var(--Sub_Font);
    color: var(--main_color);
}

.courses_details .Available_Courses {
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    font-family: var(--Sub_Font);
    color: #000;
}

.courses_details .courses_paragh {
    font-weight: 400;
    font-family: var(--main_Font);
    color: #969696;
    font-size: 20px;
}

.courses_details a {
    padding: 15px 50px;
    color: #fff;
    font-size: 15px;
    background-color: var(--main_color);
    border-radius: 10px;
    font-family: var(--Sub_Font);
    font-weight: 500;
}

.Testimonial ::after {
    content: '';
    position: absolute;
    border-top: 40px solid #F4F4F4;
    border-right: 40px solid #F4F4F4;
    border-bottom: 40px solid transparent;
    border-left: 40px solid transparent;
    right: 0;
    top: 0;
}

/*---------------------------*/

@media (max-width: 460px) {
    .End-item {
        width: 100%;
    }


}

@media (max-width: 767.98px) {
    .container {
        width: calc(100% - 50px);
    }

    .header .logo img {
        width: 20px;
    }

    .header {
        font-size: 14px;
    }

    .Footer .row {
        flex-direction: column;
        gap: 20px;
    }

    .End,
    .Start {
        width: 100%;
    }

    .End {
        gap: 10px;
    }

    .End .End-item {
        width: calc((100% - 10px) /4);
    }

    .Testimonial {
        width: 100%;
    }

    .publicity,
    .picture {
        width: 100%;
    }

}

@media (max-width: 1200px) {


    .auth i {
        display: block;
    }

    .login,
    .header .List,
    .register {
        display: none;
    }

    .Footer .row {
        gap: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }


}